.hero {
    padding-top: 8rem;
    padding-bottom: 4rem;
    background-image:
    linear-gradient(
        to bottom,
        transparent 98%,
        $light 100%),
    linear-gradient(
        to right, 
        transparent 98%,
        $light 100%);

    background-size:
    30px 30px,
    30px 30px;
    overflow: hidden;
    
    .hero-content {
        max-width: 50rem;
        margin: 0 auto;
        text-align: center;
    }
}