.navbar {
    top: 2rem; 
    // background: #34323f;
    // with 50% opacity
    background: #34323f80;
    backdrop-filter: blur(8px); 
    z-index: 3;

    .nav-link {
        &.active {
            color: $primary;
            color: #a1a3f6;
        }
    }
} 