// font-family: 'DM Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700&display=swap');
$font-family-base: 'Dm Sans', sans-serif;

// body
$body-color-dark: #fff;
$body-bg-dark: #1c1b22;

$border-radius: .75rem;
$primary: #6366f1;
$secondary: #C0C0C0;
$light: #34323f;


.light-gradient {
    background: linear-gradient(to left bottom, $body-bg-dark 30%, $light);
}

.primary-gradient {
    // background: linear-gradient(to left bottom, $body-bg-dark 30%, $light);
    background: linear-gradient(to left bottom, $primary 30%, $light);
}

// cards
$card-border-width: 2px;

// buttons
// $btn-box-shadow: 0 1px 1px $light;

// $btn-border-width: 0;
$btn-font-size: .875rem;
$btn-font-weight: 600;
$btn-padding-x: 1.2rem;
$btn-padding-y: .8rem;

.card-img-overlay.custom {
    background-color: rgb(0 0 0 / .85); 
    transition: all .2s .1s ease-in;

    &:hover {
        background-color: rgb(0 0 0 / .75);    
    }
}

// cards 
$card-border-radius: 2rem;
$card-border-width:  1px;
$card-border-color: $light;