// font-family: 'DM Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
$font-family-base: 'Open Sans', sans-serif;

$body-color: #fff;
$body-bg: #111;
$border-radius: 0rem;
$primary: #ffcc00;
$secondary: #C0C0C0;
$warning: #FF5F1F;
$success: #008000;
$danger: #800000;
$light: #fff;


// buttons
$btn-font-weight: 600;
$btn-padding-x: .85rem;
$btn-padding-y: .45rem;
