// font-family: 'DM Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
$font-family-base: 'Open Sans', sans-serif;

// colors

// on light mode
// $body-color: #fff;
// $body-bg: #111;

// on dark mode
$body-color-dark: #fff;
$body-bg-dark: #111;

$border-radius: .777rem;
$primary: #ffcc00;
$secondary: #C0C0C0;
$warning: #FF5F1F;
$success: #008000;
$danger: #800000;
$light: #fff;

// cards
// $card-box-shadow: 6px 6px $light;
$card-border-width: 2px;

// buttons
// $btn-box-shadow: 6px 6px $light;
// $btn-border-width: 0;
$btn-font-weight: 600;
$btn-padding-x: .75rem;
$btn-padding-y: .35rem;


.card-img-overlay.custom {
    background-color: rgb(0 0 0 / .85); 
    transition: all .2s .1s ease-in;

    &:hover {
        background-color: rgb(0 0 0 / .75);    
    }
}

